
.icon-phone:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e803'; } /* '' */
.icon-play:before { content: '\e804'; } /* '' */
.icon-building:before { content: '\f0f7'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */