* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    height: 60vh;
    background-image: url('../img/bg3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: unset;
    
    .logo {
        width: 125px;
        height: 50px;
    }
    h4 {
        margin: auto;
    }
    .menu {
        margin: auto 25%;
        &Item {
            list-style: none;
        }
    }
    .btn-pers {
        width: 10%;
        border-radius: 30px;
        color: hsl(240, 60, 20);
        i {
            font-size: 30px;
        }
    }
    .mt-10 {
        margin-top: 10%;
    }
}

.main {
    width: 100%;
    margin-top: 10%;
    .bloque {
        margin: auto;
        &__color {
            background-color: hsl(0, 5, 90);
        }
        &__deg{
            background-image: linear-gradient(hsl(240,50,40),  hsl(120,50,30)), url("../img/line.png");
        }
    }
    .btn-personal {
        min-width: 150px;
        max-width: 250px;
        height: 50px;
        border-radius: 25px;
        background-color: hsl(240, 60, 20);
        color: #ffffff;
        font-weight: bold;
        font-size: 20px;
    }
    .iconos {
        width: 200px;
        height: 200px;
        padding: 0.3rem;
        margin-left: 1rem;
        font-size: 25px;
        border-radius: 50%;
        color: white;
        background-color: hsl(240, 60, 20);
    }
    .imgservices {
        display: inline-block;
        width: 100px;
        height: 150px;
        margin: auto;
        padding: 0;
    }
}

footer {
    height: 3rem;
    position: static;
    bottom: 0;
    background-color: hsl(0, 0, 20);
    width: 100%;
}